@import "../style/mixins.scss";

.contact-card {
    width: 12rem;
    margin: 5px;
    position: relative;
    @include display-flex();
    @include flex-direction(column);

    &-content {
        @include flex(1);
        background-color: #ffffff;
        padding: 5px;
        width: 100%;
        transition: transform .1s;
        
        &-image {
            width: 100%;
            height: 12rem;
        }
        
        &-icon {
            position: relative;
            
            .contact-icon {
                position: absolute;
                top: -30px;
                left: 15px;
            }
        }
        
        &-info {
            margin-top: 25px;
            
            &-name {
                font-weight: bold;
            }
            
            &-contact-details {
                margin: 15px 0 10px 0;
                display: none;
            }
        }
    }

    &:hover, &:focus, &:active {
        height: 14rem;
        .contact-card-content {
            width: 14rem;
            
            z-index: 4;
            position: absolute;
            transform: scale(1.2) translate(-15%, -10%);
            
            &-image {
                height: 14rem;
            }

            &-info {
                &-contact-details {
                    display: block;
                }   
            }
        }
    }
}