@import '../style/variables.scss';
@import "../style/mixins.scss";

.contacts-list {
    padding: 3rem $regular-padding;
    background-color: rgb(240, 239, 240);
    
    &-items {
        width: 100%;
        @include display-flex();
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        margin: -5px;

        .filler {
            visibility: hidden;
            margin: 0 5px;
            height: 0;
        }
    }
}

@media screen and (max-width: 700px) {
    .contacts-list {
        padding: 2rem $medium-padding;

        &-items {
            @include justify-content(center);
        }
    }
}

@media screen and (max-width: 500px) {
    .contacts-list {
        padding: 2rem $small-padding;
    }
}